LAB_TIER=staging
LAB_PUBLIC_BASE=http://172.16.50.39/staging
COLLABORATION_SOURCE=/home/ienetworks/workspace/company/SelamnewCollaboration/environments/staging
COLLABORATION_BACKEND_BRANCH=staging
COLLABORATION_FRONTEND_BRANCH=staging
COLLABORATION_NOTIFICATION_BRANCH=staging
REGISTRY=127.0.0.1:5001
BACKEND_IMAGE_TAG=latest
FRONTEND_IMAGE_TAG=latest
FRONTEND_HOST_PORT=3010
BACKEND_HOST_PORT=5010
POSTGRES_HOST_PORT=5436
REDIS_HOST_PORT=6382
ELASTICSEARCH_HOST_PORT=9210
DB_NAME=selamnew-collab-staging
DB_PASSWORD=collab_staging_secret
