LAB_TIER=production
LAB_PUBLIC_BASE=http://172.16.50.39/production
COLLABORATION_SOURCE=/home/ienetworks/workspace/company/SelamnewCollaboration/environments/production
COLLABORATION_BACKEND_BRANCH=production
COLLABORATION_FRONTEND_BRANCH=production
COLLABORATION_NOTIFICATION_BRANCH=production
REGISTRY=127.0.0.1:5001
BACKEND_IMAGE_TAG=latest
FRONTEND_IMAGE_TAG=latest
FRONTEND_HOST_PORT=3020
BACKEND_HOST_PORT=5020
POSTGRES_HOST_PORT=5437
REDIS_HOST_PORT=6383
ELASTICSEARCH_HOST_PORT=9220
DB_NAME=selamnew-collab-production
DB_PASSWORD=collab_prod_secret
