LAB_PUBLIC_BASE=http://172.16.50.39/production
COLLABORATION_SOURCE=/home/ienetworks/workspace/company/SelamnewCollaboration/environments/production
NOTIFICATION_BRANCH=production
REGISTRY=127.0.0.1:5001
NOTIFICATION_IMAGE_TAG=latest
NOTIFICATION_HOST_PORT=8026
NOTIFICATION_POSTGRES_HOST_PORT=5439
NOTIFICATION_DB_NAME=selamnew-notification-production
NOTIFICATION_DB_PASSWORD=nes_prod_secret
