LAB_PUBLIC_BASE=http://172.16.50.39/staging
COLLABORATION_SOURCE=/home/ienetworks/workspace/company/SelamnewCollaboration/environments/staging
NOTIFICATION_BRANCH=staging
REGISTRY=127.0.0.1:5001
NOTIFICATION_IMAGE_TAG=latest
NOTIFICATION_HOST_PORT=8016
NOTIFICATION_POSTGRES_HOST_PORT=5438
NOTIFICATION_DB_NAME=selamnew-notification-staging
NOTIFICATION_DB_PASSWORD=nes_staging_secret
